
@{
    ViewBag.Title = "SimpleStartingSample";
}

<h2>SimpleStartingSample</h2>

<h1>Welcome to the Simple Starting Sample Page!</h1>
<p>This is a basic sample page that you can modify to fit your needs.</p>

<ul>
    <li>✔ Simple and easy to understand</li>
    <li>✔ Uses MVC Razor syntax</li>
    <li>✔ Can be customized with dynamic content</li>
</ul>

<p>Modify this page in <strong>Views/Home/SimpleStart.cshtml</strong> as needed!</p>
